$blue:          #0f6cb6;
$blue_light:    #1ea1e0;
$green:         #6eb43f;
$red:           #d2232a;

.logo {
	@include rem('margin-top', 20px);
	@include rem('margin-bottom', 40px);
	display: block;
	text-align: center;

	img {
		display: inline-block;
	}

	&.mobile-logo {
		margin-top: 0;
	}
}

.signup {
	@include rem('padding', 40px 30px 30px);
	background: $blue_light;

	@include media-query (md) {
		width: 80%;
		margin: 0 10%;
	}
	
	input {
		width: 100%;
		@include rem('margin-bottom', 17px);
		@include rem('padding', 10px 6px);
		background: #fff;
		@include font-size(14px);
		color: #626366;

		&.btn {
			@extend .btn;
			@include rem('margin-top', 4px);
		}
	}

	.form-line-active {
		background: none;
	}
}

.btn {
	width: auto;
	margin: 0 auto;
	@include rem('padding', 8px 34px);
	text-transform: uppercase;
	color: #fff;
	background: $blue;
	@include border-radius(8px);
	@include font-size(18px);

	&:hover {
		color: #fff;
	}
}


.btn.btn-primary {
	margin-top: 10px;
	background: $red;
}

.content {

}

.speech-bubble {
	position: relative;
	@include rem('margin-bottom', 34px);
	@include rem('padding', 28px 22px);
	color: #fff;

	h1 {
		margin: 0;
		color: #fff;
		text-transform: uppercase;
		line-height: 1;

		span {
			display: inline-block;
			width: 100%;

			&:nth-child(1), &:nth-child(3) { font-weight: 300; }
			&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6) { font-weight: 500; }
		}
	}

	p {
		margin-top: 14px;
		@include font-size(18px);
		text-align: center;
		color: #fff;

		@include media-query (sm) { @include font-size(20px); }
		@include media-query (md) { @include font-size(24px); }
	}

	&.green {
		background: $green;

		&:after {
			border-left-color: $green;
		}
	}

	&.blue {
		background: $blue;

		&:after {
			border-left-color: $blue;
		}
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -24px;
		left: 50%;
		border-right: 12px solid transparent;
		border-bottom: 26px solid transparent;
		border-left: 52px solid #1EA1E0;
	}
}

blockquote {
	font-style: italic;
	position: relative;
	@include font-size(20px);
	border: none;

	@include media-query (md) { margin-top: 160px; }

	&:before {
		content: '\0022';
		position: absolute;
		left: 0;
		top: 12px;
	}

	cite, span {
		font-style: italic;
		@include font-size(18px);
		line-height: 1;
		display: block;
		margin-left: 80px;
	}

	cite {
		margin-top: 10px;
		position: relative;

		&:before {
			content: '\002D';
			position: absolute;
			left: -14px;
		}
	}

	span {

	}
}

.cta {
	color: #fff;
	@include rem('margin-bottom', 20px);
	@extend %clearfix;

	@include media-query (md) {
		display: table;
	}

	strong {
		@include font-size(18px);
		line-height: 1;
	}

	.text {
		@include rem('padding', 10px 20px);
		background: #6eb43f;
		
		@include media-query (md) {
			width: 80%;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.img {
		width: 140px;
		height: 140px;
		margin: 0 auto;
		text-align: center;
		@include border-radius(50%);
		background: #f6f4f2;
		overflow: hidden;

		@include media-query (md) {
			width: auto;
			height: 100%;
			@include border-radius(0);
			width: 20%;
			display: table-cell;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			@include rem('margin-top', 20px);
//			@extend %vertical-align;

//			@include media-query (md) {
//				@include transform(none);
//				top: auto;
//			}
		}
	}
}

.form-section {

	li {
		padding: 0;
	}
}

img {
	max-width: 100%;
}


.ipad {
	margin-bottom: 20px;
	@include rem('padding', 40px);
	color: #fff;
	text-align: left;
	background-size: cover;

	@include media-query (xs) {
		@include rem('padding', 50px 60px);
	}

	@include media-query (sm) {
		width: 466px;
		height: 556px;
		@include rem('padding', 76px 70px 60px);
		display: inline-block;
		background-size: auto;
	}

	h2 {
		@include rem('padding', 0 0 12px);
		@include rem('margin', 0 0 18px);
		@include font-size(18px);
		font-weight: 100;
		color: #fff;
		border-bottom: 1px solid #fff;

		span {
			font-weight: 600;
		}
	}

	ol {
		padding: 0;

		li {
			font-weight: 100;
			@include font-size(16px, 18px);
			margin-bottom: 22px;

		}

		&.business { li { margin-bottom: 18px; } }

		span { font-weight: 600; }
	}

	&.ipad-education {
		background-image: url("../img/ipad_education-base.jpg");

		@include media-query (sm) {
			background-image: url("../img/ipad_education.png");
		}
	}

	&.ipad-business {
		background-image: url("../img/ipad_business-base.jpg");

		@include media-query (sm) {
			background-image: url("../img/ipad_business.png");
		}
	}

	.business {

	}
}


